
    

    <div class="container">
    	<div class="row">
    		<div class="col-md-4">
			    <!-- Weather -->
			    <div id="weather" class="weather">
                  <div class="panel panel-primary">
                    <div class="panel-heading">Погода</div>
                    <div class="panel-body">
                      <form class="form-inline">
                        <div class="form-group">
                          <label>Місто</label>
                          <select id="cityid">
                            <option value="707471">Івано-Франківськ</option>
                            <option value="702550">Львів</option>
                            <option value="696050">Київ</option>
                            <option value="706483">Харків</option>
                          </select>
                          <div class= "weather" id="contentWeather">
                                <h4><b>Температура повітря</b></h4>
                          </div>
                            <script type="text/javascript">
                                var content = document.getElementById("contentWeather");
                                var cities = document.getElementById("cityid");
                                cities.addEventListener ("change", function(){
                                    request(cities.value);
                               }, false);   
                            </script>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
		    </div>
		    <!-- /Weather -->
		    <div class="col-md-4">
		    	<img src="img/img006.jpg" alt="..." class="img-rounded">
		    </div>
		    <div class="col-md-4">
		    	<img src="img/img007.jpg" alt="..." class="img-rounded">
		    </div>

	    </div>


    

	     <!-- Main component for a primary marketing message or call to action -->
	     <br>
	     <div class="row">
	     	<div class="">
	     		<div class="col-md-6">
			        <h3>Футбол</h3>
			        <p>Футбо́л асоціації, скорочено просто футбол (від англ. football, association football), інші назви: ко́паний м'яч або ко́панка, сокер (англ. soccer) — один з різновидів футболу, олімпійський вид спорту, командна спортивна гра, у якій беруть участь дві команди по одинадцять гравців у кожній.

					Футбол є одним із найпопулярніших видів спорту у світі. У футбол грають м'ячем на прямокутному трав'яному полі (іноді траву замінюють штучним покриттям) з воротами на двох протилежних сторонах поля. Метою гри є забити якомога більше голів; тобто, завести м'яч у ворота супротивника якомога більше разів. Головною особливістю футболу є те, що гравці (за винятком воротарів) не можуть в межах ігрового поля торкатися м'яча руками. Переможцем гри є команда, що забила за час матчу (два тайми по 45 хвилин) більше голів, ніж супротивник.

					Найпрестижнішим турніром з футболу є Чемпіонат світу з футболу.
			        </p>
	        	</div>
	        </div>
	        	<div class="col-md-6">
	        		<img src="img/img002.jpg" alt="..." class="img-circle">
	        	</div>
	    </div>
	    

    </div> <!-- /container -->
