
    

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Weather -->
                <div id="weather" class="weather">
                  <div class="panel panel-primary">
                    <div class="panel-heading">Погода</div>
                    <div class="panel-body">
                      <form class="form-inline">
                        <div class="form-group">
                          <label>Місто</label>
                          <select id="cityid">
                            <option value="707471">Івано-Франківськ</option>
                            <option value="702550">Львів</option>
                            <option value="696050">Київ</option>
                          </select>
                          <div class= "weather" id="contentWeather">
                                <h4><b>Температура повітря</b></h4>
                          </div>
                            <script type="text/javascript">
                                var content = document.getElementById("contentWeather");
                                var cities = document.getElementById("cityid");
                                cities.addEventListener ("change", function(){
                                    request(cities.value);
                               }, false);   
                            </script>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /Weather -->
            <div class="col-md-4">
                <img src="img/img008.jpg" alt="..." class="img-rounded">
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <p>"Футбол - це вам не шахи!<br>
                    Тут думати треба".</p>
                    <p>- <em>В. Лобановський</em></p>
                </div>
            </div>

        </div>


    

         <!-- Main component for a primary marketing message or call to action -->
        <br>
        <div class="row">
            <div class="col-md-12">
                
                    <h3><b>Футбол</b></h3>
                    <p><b>Футбо́л асоціації</b>, скорочено просто <b>футбол</b> (від <em>англ. football, association football</em>), інші назви: <b>ко́паний м'яч</b> або <b>ко́панка</b>, <b>сокер</b> (англ. <em>soccer</em>) — один з різновидів футболу, олімпійський вид спорту, командна спортивна гра, у якій беруть участь дві команди по одинадцять гравців у кожній.</p>
                    <p>
                    Футбол є одним із найпопулярніших видів спорту у світі. У футбол грають м'ячем на прямокутному трав'яному полі (іноді траву замінюють штучним покриттям) з воротами на двох протилежних сторонах поля. Метою гри є забити якомога більше голів; тобто, завести м'яч у ворота супротивника якомога більше разів. Головною особливістю футболу є те, що гравці (за винятком воротарів) не можуть в межах ігрового поля торкатися м'яча руками. Переможцем гри є команда, що забила за час матчу (два тайми по 45 хвилин) більше голів, ніж супротивник.</p>
                    <p>
                    Найпрестижнішим турніром з футболу є Чемпіонат світу з футболу.
                    </p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3><b>Назва в Україні</b></h3>
                <p>Згідно спогадів Степана Шаха, професор Іван Боберський у 1908 році організував серед учнів Академічної Гімназії Львова «Спортовий Кружок гри ніжної пилки», який самі гімназисти називали «футбалевий клюб».</p>
                <p>До московсько-більшовицької анексії у Західній Україні також вживали назву <em>ко́паний м'яч</em>, або <em>ко́панка</em>. Після відновлення Незалежности України є прихильники заміни іноземної назви футбол на українську. Пропонуються різні варіанти, як давні, так і нові, зокрема, ногом'яч.</p>
            </div>
            <div class="col-md-6">
                <img src="img/img006.jpg" alt="..." class="img-rounded">
            </div>
        </div>   
    </div> <!-- /container -->
